
.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #3f9bc5;
}


@media (min-width: 899px) {
  .learn-bar {
    width: auto;
    padding-left: 300px;
  }

  .learn-bar > .learn {
    left: 8px;
  }
}
